<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mapquest Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mapquest Application</ion-title>
    </ion-toolbar>
  </ion-header>

 
  <form>
    <label>From:
    <input #fromBox id="from-box" 
    (keyup)="setFrom(fromBox.value)"/> 
    </label>
    <label>To: 
    <input #toBox id="to-box" 
    (keyup)="setTo(toBox.value)"/> 
    </label>
  </form> 
    <p>Distance: {{distance}} m ; Time: {{time}}</p>
      
    <ion-list>
        <button ion-item *ngFor="let item of dataItems" type="button" (click)="setCurrent(item)">
        {{item.index+1}} &#9;  {{item.narrative}} {{item.distance}}m
      </button> 
   
    </ion-list>
  
  <h2 ion-item  *ngIf="currentItem">{{currentItem.narrative}}</h2>
  
</ion-content>
